.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -3.5px;
}

.SingleColorPalette .ColorBox {
  height: 50%;
}

.ColorBox.go-back {
  background-color: #000;
}

.back-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  text-align: center;
  outline: none;
  background: rgba(255,255,255, .3);
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 30px;
  color: white;
  border: none;
  text-decoration: none;
}
